src/*.lua
steps/experiment4/*.lua
steps/cardexp2/*.lua
steps/tic80_v5/main.lua
steps/cardexp1/*.lua
steps/experiment1/*.lua
steps/experiment3/*.lua
steps/tic80_v2/*.lua
steps/tic80_v3/*.lua
steps/tic80_v4/*.lua
.local
